<div class="view-request-container">
    <ul>
        <li>{{this.request.amount}}</li>
        <li>{{this.request.period}}</li>
        <button (click)="openDialog()" >Propose</button>
    </ul>
</div>